--extra-index-url https://download.pytorch.org/whl/cpu
flask
mediapipe
opencv-python-headless
numpy
pandas
flask-sqlalchemy
flask-login
flask-migrate
gunicorn
scikit-learn
colormath
Pillow
flask-limiter
torch==2.5.1+cpu
transformers==5.15.0
